<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <h1>Welcome to the game Codebreaker</h1>
      <p>Please enter your name: </p>
      <form method="post" action="/set_name">
        <input name="player_name" type="text">
        <input type="submit" value="OK">
      </form>
    </div>
  </body>
</html>