<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/welcome.css" type="text/css">
  </head>
  <body>
    <div id="welcome">
      <h1>Welcome to the game Codebreaker</h1>
      <p>Please enter your name and attempts quantity: </p>
      <form class="start_game" method="post" action="/start_game">
        <input class="player_name" name="player_name" type="text" placeholder="Your name..." pattern="[A-Za-z]{3,}" autofocus>
        <input class="attempts_quantity" name="attempts_quantity" type="text" pattern="[0-9]{1,}">
        <input type="submit" value="OK">
      </form>
    </div>
  </body>
</html>