<!DOCTYPE html>
<html>
  <head>
    <title>You lose</title>
    <link rel="stylesheet" href="/stylesheets/lose.css" type="text/css">
  </head>
  <body>
    <div id="lose">
      <h3><%= cookie_player_name %> you lose, secret code: <%= game_session.instance_variable_get(:@secret_arr).join %></h3>
      <div class="wrap_form">
        <form class="new_game" method="post" action="/">
          <input type="submit" value="New game">
        </form>
        <form method="post" action="/start_game">
          <input type="submit" value="Play again">
        </form>
      </div>
    </div>
  </body>
</html>