<!DOCTYPE html>
<html>
  <head>
    <title>You lose</title>
    <link rel="stylesheet" href="/stylesheets/lose.css" type="text/css">
  </head>
  <body>
    <div id="lose">
      <h3><%= display_name %> you lose, secret code: <%= @session_info[0][:secret_arr].join %></h3>
      <form method="post" action="/">
        <input name="play_again" type="submit" value="Play again">
      </form>
    </div>
  </body>
</html>