<!DOCTYPE html>
<html>
  <head>
    <title>You lose</title>
    <link rel="stylesheet" href="/stylesheets/lose.css" type="text/css">
  </head>
  <body>
    <div id="lose">
      <h3><%=  %> you lose, secret code: <%=  %></h3>
      <form method="post" action="/">
        <input name="play_again" type="submit" value="New game">
      </form>
      <form method="post" action="/start_game">
        <input name="play_again" type="submit" value="Play again">
      </form>
    </div>
  </body>
</html>