<!DOCTYPE html>
<html>
  <head>
    <title>You lose</title>
  </head>
  <body>
    <div id="container">
      <h4><%= player_name %> you lose</h4>
      <form method="post" action="/index">
        <input name="play_again" type="submit" value="this dont work - 'YES'">
      </form>
      <form method="post" action="/set_name">
        <input name="play_again" type="submit" value="this dont work - 'NO'">
      </form>
    </div>
  </body>
</html>