<!DOCTYPE html>
<html>
  <head>
    <title>You win!</title>
    <link rel="stylesheet" href="/stylesheets/win.css" type="text/css">
  </head>
  <body>
    <div id="win">
      <h3><%= cookie_player_name %> you win!</h3>
      <form method="post" action="/">
        <input name="play_again" type="submit" value="New game">
      </form>
      <form method="post" action="/start_game">
        <input name="play_again" type="submit" value="Play again">
      </form>
    </div>
    <div id="hall_of_fame">
      <h3>Hall of fame</h3>
      <p class="name">Name:</p>
      <p class="attempt">Attempt spent:</p>
      <p class="secret">Secret code:</p>
      <% @hall_of_fame.each do |hash| %>
        <p class="player_name"><%= hash[:name] %></p>
        <p class="attempts_count"><%= hash[:attempts_count] %></p>
        <p class="secret_code"><%= hash[:secret_code] %></p>
      <% end %>
    </div>
  </body>
</html>