<!DOCTYPE html>
<html>
  <head>
    <title>You lose</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <h4><%= display_name %> you lose</h4>
      <form method="post" action="/">
        <input name="play_again" type="submit" value="Play again">
      </form>
    </div>
  </body>
</html>