body {
  background-color: #77DA88;
  font-family: Verdana;
  font-size: 14px;
}

#game {
  width: 30%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 145px;
}

.player_input {
  float: left;
  margin-right: 4px;
  margin-left: 130px;
}

.result {
  margin: 0 0 0 0;
  float: left;
  font-size: 20px;
  height: 20px
}

.input {
  margin: 0px 0 0 45px;
  font-size: 19px;
}

.hint {
  margin-bottom: 10px;
}

.start_new_game {
  float: right;
}