body {
  background-color: #77DA88;
}

h3 {
  margin: 6px 0 19px 220px;
}

input {
  margin: 0 0 0 127px;
}

form {
  float: left;
}

#win {
  width: 30%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 30px 40px;
  border: solid 1px black;
  margin-top: 145px;
  display: table;
}

#hall_of_fame {
  width: 30%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 30px 40px;
  border: solid 1px black;
  margin-top: 50px;
  display: table;
}

.line {
  margin: 5px 0 0px 120px;
  float: left;
}

.name {
  float: left;
  margin: 0 0 10px 110px;
  border-bottom: black 1px solid;
}

.attempt {
  float: left;
  margin: 0 0 12px 61px;
  border-bottom: black 1px solid;
}

.secret {
  margin: 0 0 12px 60px;
  border-bottom: black 1px solid;
  float: left;
}